################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Design patterns/obj
/Design patterns/bin/Debug/net8.0
